<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta content="IE=edge" http-equiv="X-UA-Compatible" />
  <meta content="width=device-width,initial-scale=1" name="viewport" />
  <meta content="description" name="description" />
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author" />

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no" />

  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='assets/favicon_icon/apple-touch-icon.png') }}" />
  <link href="{{ url_for('static', filename='assets/favicon_io/favicon.ico') }}" rel="icon" />
  <title>Title page</title>

  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body class="">
  <div id="site-border-left"></div>
  <div id="site-border-right"></div>
  <div id="site-border-top"></div>
  <div id="site-border-bottom"></div>
  <!-- Add your content of header -->
  <header>
    <nav class="navbar  navbar-fixed-top navbar-default">
      <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav ">
            <li><a href="{{ '/index.html' }}" title="">HOME</a></li>
            <li><a href="{{ '/works.html' }}" title="">PROJECTS</a></li>
            <li><a href="{{ '/about.html' }}" title="">ABOUT</a></li>
            <li><a href="{{ '/contact.html' }}" title="">CONTACT</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">About me</h1>
          </div>

          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <h3>Hi there!</h3>
                  <p>
                    I'm <b>Ado Muhammad Sanni</b>, a passionate software engineer specializing in backend development with <b>Python & Flask </b>framework. With a strong affinity for open-source principles, I'm dedicated to crafting robust and scalable solutions that drive innovation and empower users.
                  </p>

                  <h3>Education & Training</h3>
                  <p>
                    My educational journey began at the  <a href="https://www.unimaid.edu.org" target="_blank"><b>University of Maiduguri</b></a> where I pursued a diploma course in <b>Information and Communication Technology</b>, laying the foundation for my passion for technology. Building upon this groundwork, I continued my pursuit of knowledge at <a href="https://estamuni.net" target="_blank"><b>ESTAM University</b></a>, where I earned my degree in <b>Computer Science</b>, delving into the intricacies of software development and honing my skills in Python.<br/>
                    Eager to deepen my expertise, I embarked on a transformative learning experience at <a href="https://alxafrica.com" target="_blank"><b>ALX Africa</b></a> Tech School. Through rigorous training and a series of intensive tasks, I obtained a certificate in <b>Software Engineering</b> with a specialization in backend development. This immersive program challenged me to push the boundaries of my capabilities, equipping me with advanced techniques and insights to tackle complex backend challenges with confidence and precision.
                  </p>

                  <h3>Projects & Contributions</h3>
                  <p>
                    While I haven't yet had the opportunity to work with a company, I've been actively involved in personal projects and open-source contributions. Through these experiences, I've gained valuable hands-on experience in building backend systems, designing APIs, and optimizing database performance using Python and Flask.
                  </p>

                  <h3>Expertise</h3>
                  <p>
                    Backend Development with Python & Flask. Python is my language of choice, and I'm proficient in leveraging its capabilities to develop powerful backend solutions. With Flask, I've built RESTful APIs, handled authentication and authorization, and implemented robust error handling to ensure the reliability of web applications.
                  </p>

                  <h3>Open-Source Involvement</h3>
                  <p>
                    I'm a firm believer in the ethos of open-source software and actively contribute to various Python and Flask projects. Whether it's fixing bugs, adding new features, or improving documentation, I'm committed to giving back to the community and advancing the field of backend development.
                  </p>

                  <h3>Problem-Solving Approach</h3>
                  <p>
                    I approach challenges with a methodical and analytical mindset, always seeking elegant solutions to complex problems. With a keen eye for detail and a passion for continuous improvement, I thrive on pushing the boundaries of what's possible in backend development.
                  </p>

                  <h3>Core Values</h3>
                  <p>
                    I value collaboration and believe in the power of collective intelligence. By fostering an environment of open communication and knowledge sharing, I've been able to expand my skills and grow as a developer alongside my peers.
                  </p>

                  <h3>Impact & Responsibility</h3>
                  <p>
                    Beyond writing code, I'm driven by a desire to make a positive impact on society and the environment. Whether it's through developing sustainable solutions, promoting diversity and inclusion in tech communities, or advocating for ethical practices in software development, I strive to use my skills for the greater good.
                  </p>

                  <h3>Conclusion</h3>
                  <p>
                    Thank you for taking the time to learn more about me and my journey as a backend software engineer specializing in Python and Flask. If you're interested in collaborating on projects or have any questions, feel free to reach out—I'm always excited to connect with like-minded individuals and explore new opportunities!
                  </p>

                </div>
                <div class="col-xs-12 col-md-5" style="padding: 40px;">
                  <img
                    src="https://firebasestorage.googleapis.com/v0/b/portfolio-flask.appspot.com/o/profil.jpg?alt=media&token=72b30c0f-3083-4391-889c-f0beed5a901c"
                    class="img-responsive" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer-container text-center">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p>
            © SANNI | 2024 
          </p>
        </div>
      </div>
    </div>
  </footer>

  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navActivePage();
    });
  </script>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'my_id', 'auto');
  ga('send', 'pageview');
</script>

-->
  <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
</body>

</html>